@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListSpHot = (List<Model.EF.SanPham>)ViewBag.Sanphamhot;
    var Sanphamnew = (List<Model.EF.SanPham>)ViewBag.Sanphamnew;
    var Sanphamnoibat = (List<Model.EF.SanPham>)ViewBag.Sanphamnoibat;
}

<div class="slider">
    <div class="owl-carousel owl-one owl-theme">
        @{Html.RenderAction("Slide", "Home"); }
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-head">
                    <h3 class="head-title">Sản phẩm HOT</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="product-carousel">
        <div class="box-body">
            <div class="row">
                <div class="owl-carousel owl-two owl-theme">
                    @foreach (var item in ListSpHot)
                    {
                        <div class="item">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <a href="/SanPham/CtSanPham/@item.ID">
                                    <div class="product-block">
                                        <div class="product-img"><img src="@item.image" alt=""></div>
                                        <div class="product-content">
                                            <h5><a href="#" class="product-title">@item.TenSanPham</a></h5>
                                            <div class="product-meta">
                                                @if (item.GiaKhuyenMai == null)
                                                {
                                                    <a href="#" class="product-price">@(item.Gia.HasValue ? item.Gia.Value.ToString("N0")+"đ" : "Liên hệ") </a>
                                                }
                                                else
                                                {
                                                    <a href="#" class="product-price">@(item.GiaKhuyenMai.HasValue ? item.GiaKhuyenMai.Value.ToString("N0")+"đ" : "") </a>
                                                    <a href="#" class="discounted-price"><strike>@(item.Gia.HasValue ? item.Gia.Value.ToString("N0")+"đ" : "Liên hệ")</strike></a>
                                                }
                                            </div>
                                            <div class="shopping-btn">
                                             
                                                <a href="/GioHang/AddGioHang?masp=@item.ID&sl=1" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.product -->
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-head">
                    <h3 class="head-title">Sản phẩm mới</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="product-carousel">
        <div class="box-body">
            <div class="row">
                <div class="owl-carousel owl-two owl-theme">
                    @foreach (var item in Sanphamnew)
                    {
                        <div class="item">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="/SanPham/CtSanPham/@item.ID">
                                    <div class="product-block">
                                        <div class="product-img"><img src="@item.image" alt=""></div>
                                        <div class="product-content">
                                            <h5><a href="#" class="product-title">@item.TenSanPham</a></h5>
                                            <div class="product-meta">
                                                @if (item.GiaKhuyenMai == null)
                                                {
                                                    <a href="#" class="product-price">@(item.Gia.HasValue ? item.Gia.Value.ToString("N0") : "Liên hệ") đ</a>
                                                }
                                                else
                                                {
                                                    <a href="#" class="product-price">@(item.Gia.HasValue ? item.Gia.Value.ToString("N0") : "") đ</a>
                                                    <a href="#" class="discounted-price"><strike>@(item.Gia.HasValue ? item.Gia.Value.ToString("N0") : "Liên hệ")</strike></a>
                                                }
                                            </div>
                                            <div class="shopping-btn">
                                           
                                                <a href="/GioHang/AddGioHang?masp=@item.ID&sl=1" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.product -->
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-head">
                    <h3 class="head-title">Sản phẩm</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="product-carousel">
        <div class="box-body">
            <div class="row">
                <div class="owl-carousel owl-two owl-theme">
                    @foreach (var item in Sanphamnoibat)
                    {
                        <div class="item">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="/SanPham/CtSanPham/@item.ID">
                                    <div class="product-block">
                                        <div class="product-img"><img src="@item.image" alt=""></div>
                                        <div class="product-content">
                                            <h5><a href="#" class="product-title">@item.TenSanPham</a></h5>
                                            <div class="product-meta">
                                                @if (item.GiaKhuyenMai == null)
                                                {
                                                    <a href="#" class="product-price">@(item.Gia.HasValue ? item.Gia.Value.ToString("N0") : "Liên hệ") đ</a>
                                                }
                                                else
                                                {
                                                    <a href="#" class="product-price">@(item.Gia.HasValue ? item.Gia.Value.ToString("N0") : "") đ</a>
                                                    <a href="#" class="discounted-price"><strike>@(item.Gia.HasValue ? item.Gia.Value.ToString("N0") : "Liên hệ")</strike></a>
                                                }
                                            </div>
                                            <div class="shopping-btn">
                                              
                                                <a href="/GioHang/AddGioHang?masp=@item.ID&sl=1" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                            </div>
                            <!-- /.product -->
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>